doctype html

html
  {% include head.html %}
  
  body.heythere
    // Landing Page
    section
      h6.sub-title Hello there, I'm
      h1.site-title John Domingo
      h6.sub-title
        ul
          li Designer
          li Developer
          li Data Visualist
            
    // About
    section
      p.
        Just trying to find a foothold in this new territory called web development, so naturally I started a blog about the journey. I'm a data enthusiast with a penchant for interactive visualizations. When I've got free time I like to mull out in the kitchen or lift heavy objects over my head.
        
    // Skills
    section
      h2 Skills
      .circle75
      .cirlce50
      .circle20
      .circle90
      
    // Projects
    section
      h2 Projects
      ul
        li
          h5 Rainy Days
          h6 d3.js
          p An interactive visualization using dynamic meteorological data
        li
          h5 Jekyll.rb
          h6 GitHub
          p Pull requests and open source contributions to the Jekyll project
        li
          h5 Asbestos TEM Labs
          h6 jQuery
          p A client portal for automated chain of custody submissions
        li
          h5 Scheme Theme
          h6 WordPress
          p A responsive WordPress theme that employs customizable D3 SVGs
        li
          h5 Sketch the Ipsums
          h6 Cocoa
          p A Sketch 3 plugin that aggregates various Lorem Ipsum generators
        li
          h5 Spies v. Spies
          h6 Angular.js
          p A simple multi-player "board game"utilizing the Angular framework
        
    
    // Timeline
    section
      h2 Timeline
      
    // Blog
    section
      h2 The Scheme of Things
      sidebar
        
    // Contact
    section
