*
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased

::selection
  background: $accentA2

a, a:visited
  color: $tertiary5

  &:hover
    color: $text-color
    text-decoration: none

body
  background: #fcfcfc

.container-fluid

  .row
    .col
      padding: 0

      header.blogpost-header
        min-height: 100vh
        position: fixed

        background:
          image: url('/assets/img/goldengate.svg')
          position: center top
          repeat: no-repeat
          size: cover

        +animation(shrink 0.5s ease-out)

        @keyframes shrink
          from
            width: 100%
          to
            width: 25%

        aside
          min-height: 100vh
          background-color: transparentize(black, 0.3)
          display: flex
          +align-items(center)
          +justify-content(center)

          .aside-content
            text-align: center
            color: white

            svg
              height: 75px
              margin: 0 auto

              path.logo-path
                fill: white
                +transform(rotate(0deg))
                transform-origin: 50%
                +transition(transform 0.2s)

              path.frame-path
                stroke: white

              &:hover
                path.logo-path
                  +transform(rotate(30deg))
                  transform-origin: 50%
                  +transition(transform 0.5s)

            h3
              margin: 0
              margin: 75px 8px 0

            hr
              border: 0
              width: 85%
              height: 1px
              background-image: linear-gradient(to right, transparentize(white, 0.95), transparentize(white, 0.25), transparentize(white, 0.95))
              margin: 25px auto

            p
              width: 80%
              color: transparentize(white, 0.25)
              font-size: 0.9em
              margin: 0 auto
              line-height: 1.5

        @media only screen and (min-width: 768px)
          width: 25%

        @media only screen and (max-width: 767px)
          position: fixed
          z-index: 1
          width: 100%
          min-height: 0
          height: 200px
          background:
            attachment: fixed
            size: contain

          aside
            min-height: 200px

            .aside-content
              height: 60px
              svg
                height: 60px

              h3, hr, p
                visibility: hidden

        @media only screen and (max-width: 443px)
          position: absolute
          z-index: 1
          width: 100%
          min-height: 0
          height: 200px
          background:
            attachment: fixed
            size: auto 200px

      header.blogroll-header
        width: 100%
        position: relative
        +animation(grow 0.5s ease-out)

        @keyframes grow
          from
            width: 25%
          to
            width: 100%

        a.blog-logo
          svg
            margin: 15vh 0 0

        p
          max-width: 350px

        p.blogpost-preview
          max-width: 500px
          text-align: justify

        ul.blogpost-list
          list-style: none
          margin: 50px auto 0
          height: 60vh
          max-width: 95%
          overflow-y: scroll
          border: 1px solid transparentize(white, 0.7)
          padding: 20px
          +filter(blur(none))

          &::-webkit-scrollbar
            width: 5px !important

          &::-webkit-scrollbar *
            background: transparent !important

          &::-webkit-scrollbar-thumb
            background: transparent !important
            border-radius: 5px

          &:hover, &:focus, &:active
            &::-webkit-scrollbar-thumb
              background: transparentize(white, 0.7) !important

          li
            margin: 0 0 25px

            a, a:visited
              color: $secondary2

              &:hover
                color: $tertiary2

            h2
              font-size: 1.4em
              margin: 0 0 5px

            h6
              font-size: 0.8em
              margin: 10px auto



      article.blogpost-content
        position: relative
        z-index: 0
        padding: 10% 15%

        @media only screen and (max-width: 767px)
          margin-top: 200px
          padding: 50px 20px

        h1, h3, h5
          text-align: center

        h1.blogpost-title
          font-weight: 700
          font-size: 3.5em
          margin: 0

        h2
          margin: 50px 0 15px

        h3
          color: lighten(black, 60%)
          margin: 25px auto 0

        h5
          text-transform: uppercase
          margin: 50px auto
          font-weight: 600
          color: $secondary4

          small
            color: $primary3

        hr
          border: 0
          height: 1px
          background-image: linear-gradient(to right, transparentize(black, 0.95), transparentize(black, 0.25), transparentize(black, 0.95))
          margin: 50px auto 25px

    .col-fullbar
      header.blogroll-header
        min-height: 100vh
        background-size: cover

        aside
          min-height: 100vh
          background-color: transparentize(black, 0.3)

          .aside-content
            svg
              height: 45px
              margin: 0

            h3, hr, p
              visibility: visible

            h3
              margin: 20px 8px 0
              font-size: 1.3em

            hr
              margin: 15px auto

            p
              font-size: 0.8em

            ul
              margin-top: 25px
              padding: 10px

              li p
                width: 95%
