// Font-Size Variables
$fs-main-xs: 3.5
$fs-sub-xs:  1.2
$fs-tag-xs:  1.1

$fs-main-md: 6.2
$fs-sub-md:  1.5
$fs-tag-md:  1


// Height Variables
$h-prof-xs: 80px
$h-prof-sm: 100px
$h-prof-md: 150px

$h-main-xs: (10px * $fs-main-xs) + (2 * 10px)
$h-sub-xs:  (10px * $fs-sub-xs) + (2 * 5px)
$h-tag-xs:  (10px * $fs-tag-xs) * 1.5

$h-main-md: (10px * $fs-main-md) + (2 * 10px)
$h-sub-md:  (10px * $fs-sub-md) + (2 * 5px)
$h-tag-md:  (10px * $fs-tag-md) * 1.5

// TranslateY Variables
$ty-prof-xs: -$h-prof-xs - $h-main-xs - 10px
$ty-prof-sm: -$h-prof-sm - $h-main-xs - 10px
$ty-prof-md: -$h-prof-md - $h-main-md - 10px

$ty-main-xs: -$h-main-xs - 5px
$ty-tag-xs:  ($h-sub-xs / 2) + 10px
$ty-text-xs:  $h-sub-xs + $h-tag-xs + 25px

$ty-main-md: -$h-main-md - 5px
$ty-tag-md:  ($h-sub-md / 2) + 10px
$ty-text-md:  $h-sub-md + $h-tag-md + 30px

// Mixins
@mixin clip-path($clip)
  -webkit-clip-path: $clip
  -moz-clip-path: $clip
  -ms-clip-path: $clip
  clip-path: $clip

@mixin box-shadow($shadow)
  -webkit-box-shadow: $shadow
  -moz-box-shadow: $shadow
  -ms-box-shadow: $shadow
  box-shadow: $shadow

//////////////
// PARALLAX //
//////////////
html
  overflow-x: hidden

body#home-body
  position: relative
  z-index: -1
  max-width: 100vw

header#home-header
  position: relative
  z-index: 1
  height: 100vh
  text-transform: uppercase
  +filter(blur(0px))

  .header-container
    width: 100%
    position: absolute
    z-index: 0
    top: 0
    left: 0
    background-color: white

    a#blog-logo
      position: absolute
      top: 25px
      right: 0

      svg
        height: 45px

    input
      display: none

      &:checked + label
        background: white
        border: 1px solid $text-color

        &:active, &:hover, &:focus
          border: 1px solid $text-color

      &#home
        &:checked + label
          font-weight: bold
          border: none
          background: transparent

          & ~ .container
            z-index: 2
            +filter(blur(0px))
            opacity: 1
            +transition(all 2.5s ease)

          & ~ svg#svg-hero-bkg
            g#land, g#steel, g#wind, g#sea
              path
                +animation(dim 2s ease forwards)

                +keyframes(dim)
                  to
                    fill-opacity: 0.25
                    stroke: none
                    +transition(all 2s ease)

      &#develop-toggle
        &:checked
          & ~ label.main
            background: transparent

          & ~ .container
            z-index: 2
            +filter(blur(0px))
            opacity: 1
            +transition(all 3s ease)

            &#about-text
              z-index: 2

          & ~ svg#svg-hero-bkg path
            +animation(blacken 2s ease forwards)

            +keyframes(blacken)
              to
                fill: black
                fill-opacity: 0.1
                stroke: none
                +transition(all 2s ease)

          & ~ svg#svg-hero-bkg path:nth-of-type(4n+1)
            +transform(translate(200px, 200px) rotate(79deg) translateZ(0))
          & ~ svg#svg-hero-bkg path:nth-of-type(4n+2)
            +transform(translate(-800px, 400px) rotate(82deg) translateZ(0))
          & ~ svg#svg-hero-bkg path:nth-of-type(4n+3)
            +transform(translate(-800px, -600px) rotate(92deg) translateZ(0))
          & ~ svg#svg-hero-bkg path:nth-of-type(4n+4)
            +transform(translate(700px, -900px) rotate(75deg) translateZ(0))

      &#dataviz-toggle
        &:checked
          & ~ label
            background: white
            +transition(background 2s ease)

          & ~ svg#svg-hero-bkg path
            stroke-dasharray: 0
            stroke-dashoffset: 0
            +animation(outline 2s ease forwards)

            +keyframes(outline)
              to
                fill: white
                stroke: $text-color
                stroke-width: 1px
                +transition(all 2s ease)
                stroke-dasharray: 0
                stroke-dashoffset: 0

            &:hover
              fill: black

    label
      z-index: 0
      display: block
      +position(absolute, 50% null null 50%)
      cursor: pointer

      &.main
        +transform(translate3d(-50%, $ty-main-xs, 0))
        font-weight: normal
        width: 500px
        padding: 10px 10px
        background-color: transparentize(white,0.3)
        font-size: #{$fs-main-xs}rem
        margin: 0
        text-align: center
        line-height: 1

        &:active, &:hover, &:focus
          font-weight: 700
          background-color: transparentize(white,0.25)

        @media only screen and (min-width: 500px) and (min-height: 450px)
          +transform(translate(-50%, $ty-main-md))
          font-size: 6.2rem
          display: inline-block

      &[class*='sub']
        white-space: nowrap
        margin: 0px
        text-align: center
        cursor: pointer
        padding: 2px 4px
        font-size: #{$fs-sub-xs}rem
        +transform(translate(0, 10px))

        &:active, &:hover, &:focus
          background: white
          border: 1px solid $text-color
          +transition

        @media only screen and (min-width: 500px) and (min-height: 450px)
          +transform(translate(0, 5px))
          font-size: 1.5rem

      &.sub-design
        margin-left: -(86.0469px + 46.62505px + 12px)
      &.sub-develop
        margin-left: -(46.62505px + 12px)
      &.sub-dataviz
        margin-left: (91.62505px - 46.62505px - 12px)

      @media only screen and (min-width: 500px)
        &[class*='sub']
          padding: 5px 10px
        &.sub-design
          margin-left: -(123px + 47px + 33.22775px)
        &.sub-develop
          margin-left: -(47px + 33.22775px)
        &.sub-dataviz
          margin-left: (133px - 47px - 33.22775px)

    .container
      z-index: 0
      display: block
      +position(absolute, 50% null null 50%)
      padding: 0px
      +filter(blur(5px))
      opacity: 0
      +transition(all 2s ease)

    #about-text
      +transform(translate(-50%, $ty-text-xs))
      width: 92.5%

      p
        text-transform: none
        font-size: 1.25rem

    .profile-img
      +size(100px)
      +transform(translate3d(-50%, $ty-prof-sm, 0))
      background:
        image: url('/assets/img/jd1278x1278.jpg')
        position: top center
        repeat: no-repeat
        size: cover
      border-radius: 50%

      @media only screen and (max-height: 320px) and (-webkit-min-device-pixel-ratio: 1.5)
        +size(80px)
        +transform(translate(-50%, $ty-prof-xs))

    @media only screen and (min-width: 500px) and (min-height: 450px)
      #about-text
        width: 500px
        +transform(translate(-50%, $ty-text-md))

        p
          font-size: 1.5rem

      .profile-img
        +size($h-prof-md)
        +transform(translate(-50%, $ty-prof-md))

    svg#svg-hero-bkg
      +size(100% 100vh)

      path
        +transform-origin(center center)
        +transition(all 2s ease)
        +transform(translate(0))
        stroke-dasharray: 1000
        stroke-dashoffset: 1000
        +animation(draw 3s linear forwards)

        &:active, &:hover, &:focus
          opacity: 0.5
          +transition

        +keyframes(draw)
          0%
            fill: white
            stroke: $text-color
          33%
            fill: white
          100%
            stroke-dashoffset: 0

      // +keyframes(p1)
      //   0%
      //     +transform(translateX(-1000px) translateY(-1200px) rotate(320deg) translateZ(0))
      //   100%
      //     +transform(translate(0))
      //
      // path:nth-of-type(4n+1)
      //   +animation(p1 1s ease 1)
      //
      // +keyframes(p2)
      //   0%
      //     +transform(translate(100px) translateY(1200px) rotate(350deg) translateZ(0))
      //   100%
      //     +transform(translate(0))
      //
      // path:nth-of-type(4n+2)
      //   +animation(p2 1s ease 1)
      //
      // +keyframes(p3)
      //   0%
      //     +transform(translate(-1000px) translateY(-600px) rotate(325deg) translateZ(0))
      //   100%
      //     +transform(translate(0))
      //
      // path:nth-of-type(4n+3)
      //   +animation(p3 1s ease 1)
      //
      // +keyframes(p4)
      //   0%
      //     +transform(translate(500px) translateY(300px) rotate(348deg) translateZ(0))
      //   100%
      //     +transform(translate(0))
      //
      // path:nth-of-type(4n+4)
      //   +animation(p4 1s ease 1)

//////////////////////
// INTERACTIVE TAGS //
//////////////////////
.container-about
  margin-top: 100vh

//////////////
// SECTIONS //
//////////////
section
  position: relative
  z-index: 9999
  background-color: white
  width: 100%
  min-height: 100vh
  padding: 0

  h1
    position: relative
    padding: 50px 0
    margin: 0

////////////
// SKILLS //
////////////

section#skills
  z-index: 3
  padding: 200px 0px
  +transform(translate3d(0,0,0))

  h1
    position: absolute
    top: 7.5%
    left: 50%
    +transform(translateX(-50%))

  .skills-container
    position: fixed
    bottom: 0px
    width: 100vw
    height: 100vh

    svg#skills-vis
      position: fixed
      display: block
      bottom: 0px
      width: 100vw
      height: 100vh

      circle
        cursor: pointer

      circle.frontend
        fill: $secondary1
      circle.backend
        fill: $tertiary2
      circle.database
        fill: $accentB3
      circle.datavis
        fill: $secondary3
      circle.devops
        fill: $primary3
      circle.design
        fill: $accentA3

      circle.frontend.bubble-hover
        fill: $secondary2
      circle.backend.bubble-hover
        fill: $tertiary4
      circle.database.bubble-hover
        fill: $accentB4
      circle.datavis.bubble-hover
        fill: $secondary5
      circle.devops.bubble-hover
        fill: $primary5
      circle.design.bubble-hover
        fill: $accentA5

      circle.bubble-selected
        stroke: $text-color
        stroke-width: 1px

      circle.frontend.bubble-selected
        fill: $secondary1
      circle.backend.bubble-selected
        fill: $tertiary1
      circle.database.bubble-selected
        fill: $accentB2
      circle.datavis.bubble-selected
        fill: $secondary2
      circle.devops.bubble-selected
        fill: $primary1
      circle.design.bubble-selected
        fill: $accentA1

    @media only screen and (min-width: 500px) and (min-height: 450px)
      height: 90vh

      svg#skills-vis
        height: 90vh

    #bubble-labels
      z-index: 1
      margin: 0px
      position: absolute
      color: $text-color
      cursor: pointer
      display: block
      text-align: center
      text-decoration: none
      line-height: 1em
      white-space: wrap

    .devops .bubble-label-name
      color: white

//////////////
// PROJECTS //
//////////////

section#projects, section#projects-mobile
  .container
    width: 100%

section#projects
  .container
    @media only screen and (min-width: 500px)
      width: 490px

    @media only screen and (min-width: 768px)
      width: 750px

    @media only screen and (min-width: 992px)

    @media only screen and (min-width: 1200px)

    [class*=col]
      margin: 0 auto 20px

    .project
      +size(230px)
      background:
        repeat: no-repeat
        position: center center

      @media only screen and (max-width: 500px)
        width: 100%

      .sleeve
        position: relative
        +size(230px)
        color: white
        overflow: hidden
        background: transparentize(black, 0.3)
        +clip-path(polygon(0 90%, 90% 33%, 100% 33%, 100% 100%, 0 100%))
        +transition(1s)

        &:hover
          +transition(all 0.5s ease)
          -webkit-clip-path: polygon(0 0, 50% 0%, 100% 0, 100% 100%, 0 100%)

          .proj-tag
            bottom: -230px
            +transition(0.5s)

          .proj-cta
            right: 20px
            +transition(0.5s)

          .proj-description
            top: 0px
            left: 0px
            +transition(0.5s)

        .proj-tag
          position: absolute
          bottom: 15px
          right: 20px
          text-align: right
          font-size: 1.25em
          font-weight: bold
          width: 210px
          +transition(0.5s)

        .proj-cta
          position: absolute
          bottom: 15px
          right: -230px
          text-align: right
          text-transform: uppercase
          font-size: .8em
          font-weight: bold
          padding: 2px 5px
          border: 1px solid white
          +transition(0.5s)

          a:link, a:hover, a:visited, a:active
            color: white
            text-decoration: none

        .proj-description
          position: absolute
          top: 230px
          width: 210px
          margin: 0 auto
          padding: 40px 20px  0
          height: 180px
          overflow-y: auto
          +transition(0.5s)

          h4
            margin-bottom: 10px
            font-weight: bold
          p
            font-size: 0.8em
            margin-bottom: 30px

          .sleeve-label
            text-align: right
            position: absolute
            bottom: -70px
            right: -70px

            a:link, a:hover, a:visited, a:active
              color: white
              text-decoration: none

    .project_1
      background:
        image: url('/assets/projects/urban-logistics.svg')

    .project_2
      background:
        image: url('/assets/projects/open-gallery.svg')

    .project_3
      background:
        image: url('/assets/projects/flock.svg')

    .project_4
      background:
        image: url('/assets/projects/localhost.svg')

    .project_5
      background:
        image: url('/assets/projects/auricle.svg')

    .project_6
      background:
        image: url('/assets/projects/focus.png')

///////////////////////
// PROJECTS : MOBILE //
///////////////////////
section#projects-mobile
  display: none

@media only screen and (max-width: 500px)
  section#projects
    display: none

  section#projects-mobile
    display: block

    .slider
      ul
        max-width: 100vw

        li
          .project
            height: 60vh
            background:
              size: cover
              repeat: no-repeat
              position: bottom center

            input
              display: none

            .sleeve
              position: relative
              +size(100vw 60vh)
              color: white
              overflow: hidden
              background: transparentize(black, 0.3)

            label
              position: absolute
              z-index: 1
              cursor: pointer

            label[class*='proj-tag-']
              bottom: 60px
              text-align: right
              font-size: 1.25em
              font-weight: bold
              padding: 4px 8px
              border: 1px solid white
              +transition(0.5s)

            label.proj-tag-A
              right: 40px
            label.proj-tag-B
              left: 40px

            label.close-sleeve
              font-size: 1.5em
              top: 15px
              right: 20px

            .proj-cta
              position: absolute
              bottom: 60px
              right: -230px
              text-align: right
              text-transform: uppercase
              font-size: 1em
              font-weight: bold
              padding: 3px 6px
              border: 1px solid white
              +transition(0.5s)

              a:link, a:hover, a:visited, a:active
                color: white
                text-decoration: none

            .proj-description
              position: absolute
              top: 20px
              left: -100vw
              width: 85%
              margin: 0 auto
              padding: 40px 20px  0
              height: 180px
              overflow-y: auto
              +transition(0.5s)

              h4
                margin-bottom: 10px
                font-weight: bold
              p
                font-size: 0.8em
                margin-bottom: 30px

              .sleeve-label
                text-align: right
                position: absolute
                bottom: -70px
                right: -70px

                a:link, a:hover, a:visited, a:active
                  color: white
                  text-decoration: none

            input[id*='prj-sleeve_']:checked + .sleeve, .sleeve:hover
              label[class*='proj-tag']
                bottom: -230px
                +transition(0.5s)

              .proj-cta
                right: 40px
                +transition(0.5s)

              .proj-description
                left: 40px
                +transition(0.5s)

            input[id*='prj-close_']:checked + .sleeve
              label[class*='proj-tag']
                bottom: 60px
                +transition(0.5s)

              .proj-cta
                right: -230px
                +transition(0.5s)

              .proj-description
                left: -100vw
                +transition(0.5s)

          .project1
            background:
              image: url('/assets/projects/rainydays.svg')
          .project2
            background:
              image: url('/assets/projects/focus.png')
          .project3
            background:
              image: url('/assets/projects/dsgn.svg')
          .project4
            background:
              image: url('/assets/projects/github.svg')
          .project5
            background:
              image: url('/assets/projects/treehouse.svg')
          .project6
            background:
              image: url('/assets/projects/codecademy.svg')

          &:nth-child(odd)
            .sleeve, input.prj-close:checked + .sleeve
              +clip-path(polygon(0 90%, 90% 33%, 100% 33%, 100% 100%, 0 100%))
              +transition(1s)

          &:nth-child(even)
            .sleeve, input.prj-close:checked + .sleeve
              +clip-path(polygon(0 33%, 10% 33%, 100% 90%, 100% 100%, 0 100%))
              +transition(1s)

          input[id*='prj-sleeve_']:checked + .sleeve, .sleeve:hover
            +clip-path(polygon(0 0, 50% 0%, 100% 0, 100% 100%, 0 100%))
            +transition(1s)

/////////////////////
// WEBDEVCHALLENGE //
/////////////////////

section#webdevchallenge
  padding-bottom: 0

  .container
    .row
      [class*='challenge']
        .slider
          max-width: 100%

          ul
            li
              color: white
              background:
                size: cover
                repeat: no-repeat
                position: top center

            @for $i from 1 through length($cycle-colors)
              li:nth-child(#{length($cycle-colors)}n+#{$i}) a
                color: nth($cycle-colors, $i)

            a
              text-decoration: none
              display: inline-block

            .content
              z-index: 2
              background: rgba(0, 0, 0, 0.7)
              padding: 50px 50px 50px
              height: 100%
              overflow-y: auto
              margin-top: 100vh
              +transition(0.5s)

              @media only screen and (min-width: 768px)
                padding: 100px 140px 50px

          @media only screen and (max-width: 400px)
            .arrows label
              padding: 9px

          &:active, &:hover, &:focus
            ul li .content
              margin-top: 0%
              +transition(0.5s)

    @media screen and (max-width: 570px)
      max-width: 100%
      margin: 0
      padding: 0
      overflow: hidden

      .row [class*='challenge'] .slider ul
        max-width: 100vw

////////////
// FOOTER //
////////////
section:last-of-type
  +box-shadow(0px 20px 20px -20px $text-color)
  //margin-bottom: 408px

#reveal-footer
  +size(100vw 408px)
  position: absolute
  z-index: -2

footer
  position: fixed
  z-index: -1
  bottom: 0
  width: 100%
  height: 408px
  background-color: transparentize(black, 0.3)
  padding: 0
  color: white

  .container
    width: 100%
    padding: 10px
    margin: 0

  .h1-logo
    text-align: center
    h1
      display: inline-block
      padding: 8px 6px
      margin: 10px auto
      border: 1px solid white
      border-radius: 50%
      font-size: 1.5em

      @media only screen and (min-width: 500px)
        position: absolute
        top: 20px
        right: 20px
        margin-left: -33.14065px

  h4
    @media only screen and (min-width: 500px)
      margin-top: 25px

  p
    margin: 0 auto 10px
    font-size: 0.75em

    a:link, a:visited, a:active
      color: $secondary3

    a:hover
      color: $secondary3
      text-decoration: none

  #footer
    width: 100%
    position: absolute
    bottom: 10px
    text-align: center
    p
      margin: 0
      display: inline-block

  ul.links
    margin: 25px 0 0 45px
    list-style: none

    li
      a:link, a:visited, a:active
        color: white

  ul.social
    position: relative
    list-style: none
    margin: 15px auto 0
    cursor: pointer
    font-size: 1.1em
    width: 225px
    border: 1px solid transparent


    @media only screen and (min-width: 500px)
      margin-top: 25px

    li
      position: absolute
      left: 5px
      //margin: 0 5px
      +size(35px)
      list-decoration: none
      cursor: pointer
      border-radius: 50%
      box-shadow: inset 0 0 0 1px transparent

      a:link, a:visited, a:active
        color: white
        line-height: 2.2
        cursor: pointer

      &:hover
        border-radius: 10%
        box-shadow: inset 0 0 0 1px white
        +transition(opacity 1s)

      &:nth-child(5n+2)
        left: 50px

      &:nth-child(5n+3)
        left: 95px

      &:nth-child(5n+4)
        left: 140px

      &:nth-child(5n+5)
        left: 185px

      &:nth-child(5) ~ li
        top: 35px

      & > label
        padding: 0
        margin: 0
        cursor: pointer

        .frame
          display: table

          i
            display: table-cell
            vertical-align: middle
            line-height: 34px

    & > label
      opacity: 0
      position: absolute
      top: 5px
      right: 10px
      +transition(opacity 1s)

  input
    display: none

    &:checked ~ ul
      border: 1px solid white
      height: 71px
      +transition(1s)

      li
        opacity: 0
        +transition(opacity 1s)

      & > label.social-close
        opacity: 1
        +transition(opacity 1s)

    &#social-close:checked + ul
      border: none
      +transition(1s)

      li
        opacity: 1
        +transition(opacity 1s)

      & > label.social-close
        opacity: 0
        +transition(opacity 1s)

        // .frame
        //   i
        //     padding: 8px 9.5px
        //     border: 1px solid white
        //     border-radius: 50%
        //
        //     &.fa.fa-pinterest
        //       padding: 6px 9.5px
        //     &.fa.fa-codepen, &.fa.fa-google-plus
        //       padding: 8px
        //     &.fa.fa-jsfiddle
        //       padding: 8px 7.5px
