html, html a
  -webkit-font-smoothing: antialiased
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004)
  font-family: $base-font-family
  font-weight: normal

body
  color: $primary4

p
  font-family: 'Avenir', sans-serif
  font-weight: 400

.site-title, .sub-title
  text-transform: uppercase
  text-align: center

h1.site-title
  font-size: 8.125em

h6.sub-title
  font-size: 1.5625em

h6.sub-title ul li
  list-style-type: none
  display: inline-block
  margin-right: 50px
