.title-container
  position: absolute
  width: 50%
  top: 50%
  margin-top: -25%

header
  height: 100vh
  background:
    image: url('/assets/img/goldengate.jpg')
    size: cover
    position: center

.site-title, .sub-title
  text-transform: uppercase
  text-align: center
  background-color: transparentize(white,0.5)

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  margin-bottom: 0

.site-title
  font-size: 4.5em
  line-height: 1

.sub-title
  font-size: 1em
  display: none

.sub-title ul
  list-style-type: none
  display: flex
  flex-direction: row
  align-items: center
  margin-bottom: 0px
