body
  color: $primary4

h1, h2, h3, h4, h5, h6
  font-family: $base-font-family

p
  font-family: 'Avenir', sans-serif
  font-weight: 400

.site-title, .sub-title
  text-transform: uppercase
  text-align: center

h1.site-title
  font-size: 8.125em

h6.sub-title
  font-size: 1.5625em

h6.sub-title ul li
  list-style-type: none
  display: inline-block
  margin-right: 50px
