@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
.container-fluid {
  padding: 0px; }

@media (max-width: 797px) {
  body {
    padding-left: 0px;
    padding-right: 0px; } }
.no-pad {
  margin-right: 0px;
  margin-left: 0px; }
  .no-pad > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
    min-height: 100px;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    transition: 2s; }

.row {
  display: table; }
  .row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    position: relative;
    overflow: hidden; }
    .row [class*="col-"][id="header-panel"] {
      background-color: #7bcbc1;
      overflow: visible; }
    .row [class*="col-"][id="projects-panel"] {
      background-color: #ebb240; }
    .row [class*="col-"][id="studio-panel"] {
      background-color: #ff9b6d; }
    .row [class*="col-"][id="news-panel"] {
      background-color: #d4edbf; }

.row-fix {
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }

.row-collapse [class*="col-"] {
  float: left !important;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }

body {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  line-height: 1.2em;
  color: #333;
  background-color: #e9eae2;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

a:link, a:visited {
  cursor: pointer;
  text-decoration: none; }

a:hover {
  color: #337ab7 !important;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }

.light-text {
  color: white; }
  .light-text a:link, .light-text a:visited {
    color: white; }

.dark-text {
  color: #333; }
  .dark-text a:link, .dark-text a:visited {
    color: #333; }

ul.accent-text {
  font-size: 1.3em;
  cursor: pointer; }
  ul.accent-text a:link, ul.accent-text a:visited {
    color: #7bcbc1; }

.triangle, .triangle-line {
  width: 100%;
  height: 0px;
  padding-top: 100%;
  overflow: hidden;
  position: absolute; }

.triangle-content {
  position: absolute;
  bottom: 25%;
  left: 40%; }
  .triangle-content a {
    display: block; }

.triangle-line {
  bottom: 0; }
  .triangle-line:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top: -500px;
    border-top: 500px solid transparent;
    border-right: 500px solid white; }

.triangle {
  bottom: -1px;
  right: -1px;
  font-size: 2.75em; }
  .triangle:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top: -500px;
    border-top: 500px solid transparent; }

.triangle-header.triangle {
  font-size: 1em; }
  .triangle-header.triangle:after {
    border-right: 500px solid #7bcbc1; }

.triangle-projects.triangle:after {
  border-right: 500px solid #ebb240; }

.triangle-studio.triangle:after {
  border-right: 500px solid #ff9b6d; }

.triangle-news.triangle:after {
  border-right: 500px solid #d4edbf; }

.logo {
  margin: 50px 0 0 170px; }
  .logo img {
    width: 162px;
    margin-bottom: 4px; }
  .logo ul.social {
    text-align: center;
    margin-top: 40px; }

#header-block {
  position: relative;
  z-index: 2; }
  #header-block nav {
    position: absolute;
    top: 50px;
    left: 16%; }
    #header-block nav label.toggle {
      border: 3px white solid;
      padding: 50.5px 50px;
      margin: 0px;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
      transform: translateX(0px);
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s;
      background-image: url("../assets/header/menu.png");
      background-repeat: no-repeat;
      background-position: center; }
      #header-block nav label.toggle:hover {
        border: 3px #337ab7 solid;
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s;
        background-image: url("../assets/header/menu-hover.png");
        background-repeat: no-repeat;
        background-position: center; }
    #header-block nav #menu {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s;
      position: absolute;
      top: 0px;
      right: 25%;
      z-index: 2; }
      #header-block nav #menu ul {
        display: table; }
        #header-block nav #menu ul li {
          display: table-cell;
          vertical-align: middle;
          height: 107px;
          font-size: 1.2em;
          background-color: #ebb240;
          margin: 0px;
          padding: 0px;
          text-align: center; }
          #header-block nav #menu ul li a {
            padding: 42.5px 50px; }
            #header-block nav #menu ul li a:hover {
              color: #333;
              -webkit-transition: all 0.15s ease-out 0s;
              -moz-transition: all 0.15s ease-out 0s;
              transition: all 0.15s ease-out 0s; }
          #header-block nav #menu ul li label.close-menu {
            display: table-cell;
            vertical-align: middle;
            padding: 52.5px 52.5px;
            margin: 0px;
            font-size: 2em;
            font: sans-serif;
            cursor: pointer;
            background-image: url("../assets/header/close.png");
            background-repeat: no-repeat;
            background-position: center; }
            #header-block nav #menu ul li label.close-menu:hover {
              color: #333;
              background-image: url("../assets/header/close-hover.png");
              background-repeat: no-repeat;
              background-position: center;
              background--webkit-transition: all 0.15s ease-out 0s;
              background--moz-transition: all 0.15s ease-out 0s;
              background-transition: all 0.15s ease-out 0s; }
    #header-block nav input#toggler {
      display: none; }
      #header-block nav input#toggler:checked + label.toggle {
        -webkit-transform: translateX(-400px);
        -moz-transform: translateX(-400px);
        -ms-transform: translateX(-400px);
        -o-transform: translateX(-400px);
        transform: translateX(-400px);
        opacity: 0;
        -webkit-transition: 2s;
        -moz-transition: 2s;
        transition: 2s; }
      #header-block nav input#toggler:checked ~ #menu {
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s; }
  #header-block address {
    position: absolute;
    top: 180px;
    left: 5%;
    margin: 0px;
    line-height: 1.1em; }

[id*='project-no'] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#project-no1 {
  height: 350px;
  background-image: url("../assets/projects/fondue.jpg"); }

#project-no2 {
  height: 465px;
  background-image: url("../assets/projects/louis_xx.jpg"); }

#project-no3 {
  height: 465px;
  background-image: url("../assets/projects/395-396_p22.jpg"); }

#project-no4 {
  height: 300px;
  background-image: url("../assets/projects/sesann.jpg"); }

#project-no5 {
  height: 300px;
  background-image: url("../assets/projects/alessi.jpg"); }

#project-no6 {
  height: 250px;
  background-image: url("../assets/projects/potter.jpg"); }

#project-no7 {
  height: 465px;
  background-image: url("../assets/projects/tabano.jpg"); }

#project-no8 {
  height: 250px;
  background-image: url("../assets/projects/fiji.jpg"); }

#timeline {
  height: 150px;
  background-color: #ebb240; }
  #timeline .triangle {
    font-size: 1em; }
    #timeline .triangle .triangle-content {
      bottom: 15px; }
      #timeline .triangle .triangle-content li:first-child a {
        color: #333;
        margin-bottom: 5px; }
        #timeline .triangle .triangle-content li:first-child a:hover:before {
          content: "";
          margin-left: 0px; }
      #timeline .triangle .triangle-content a:hover:before {
        content: "⟶ ";
        margin-left: -20px; }

.project-caption {
  position: absolute;
  top: 0px;
  left: 0px; }

/*# sourceMappingURL=style.css.map */
